
 <div class="container">
   <div class="row">
      <div class="col text-center">
         <img src="./img/Baby.jpeg" alt="Aldo Wiranata" class="img-thumbnail rounded-circle " width="200">
         <h1 class="display-4">Aldo Wiranata</h1>
         <p class="lead">Web | Pemula</p>
      </div>
   </div>
 </div>
